extends layout

block content
  - if (messages.error)
    h1 Sorry, there was a problem.

    p.message.error
      = messages.error

  - else
    h1 Accessing #{targetName} requires authentication

    p.
      Your corporate Verdigris account is required in order to access this
      protected resource. Press <strong>Authenticate</strong> below to begin the
      authentication process.

  #provider-list
    each provider, name in providers
      a.button(href=provider._entryPath)
        - if (provider.title == "Google")
          | Authenticate
        - else
          img(src="/_doorman/icons/#{name}.ico.png")
          | Sign in with #{provider.title || name}
