@import url(//fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: #373741;
  color: #fff;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 720px;
  height: 50%;
  max-height: 720px;
  margin: auto;
}

#logo {
  width: 240px;
  height: 240px;
  text-indent: -10000px;
  background: url(/_doorman/images/logo.png) top left no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

#small-logo { display: none; padding-top: 30px; }

#main {
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 1.6em;
  margin-bottom: 1.5em;
  font-family: Montserrat, "Open Sans", sans-serif;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #e1f0f5;
  text-align: left;
  max-width: 680px;
  margin: auto;
  margin-bottom: 2em;
}

strong {
  font-weight: 600;
}

form label {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 0.7em;
  color: #999;
  padding-bottom: 0.5em;
}

form input {
  width: 100%;
  border: 0;
  padding: 15px;
  background-color: #65676B;
  color: #FFF;
  font-size: 1.2em;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.target-name {
  font-weight: bold;
  text-transform: capitalize;
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #fff;

  font-size: 20px;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  padding: 12px 24px;
  margin-bottom: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -moz-transition: background-color .2s, border .2s, color .2s;
  -webkit-transition: background-color .2s, border .2s, color .2s;
  transition: background-color .2s, border .2s, color .2s;
}

.button:hover {
  background-color: #0fc8c3;
  border: 3px solid #0fc8c3;
}

.button:active {
  background-color: #fff;
  border: 3px solid #fff;
  color: #0fc8c3;
}

.button img {
  background-color: #fff;
  margin-right: 5px;
  padding: 2px;
  border-radius: 2px;
  margin-bottom: -3px;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 776px) {
  #title { display: none; }
  #main { margin: 0 auto; padding-top: 0px; }
  #small-logo { display: block; }
  #small-logo img { width: 100%; }
}
